body {

 background: #E6D7C2;
 color: #586878;
 font-family: 'Lora', serif;
 font-size: 17px;
 font-weight: lighter;
}

h1, h2, h3 {
 font-family: 'Roboto', sans-serif;
}


h1 {
 color: #586878;
 font-size: 32px;
 font-weight: 900;

}

h2 {
 color: #7ECE90;
 font-size: 20px;
 font-weight: 500;
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #635BFF;
	font-weight: 600; 
	font-size: 16px;
}
a:hover {color: black;}



.shadowed { box-shadow: 5px 5px 3px black; }

#bio {
font-weight: bold;
}

@media (max-width: 720px) {
  
  .container {
    width: 500px;
  }
}

@media (max-width: 960px) {
  
  .container {
    width: 700px;
  }
}
@media (max-width: 540px) {
  
  .container {
    width: 300px;
    }
}

.img-circle { border-radius: 5% }
.btn-blue {background-color: #6B72E1;
	       color: white;
           padding: 10px 21px;
           border-radius: 3px;}


.btn-blue:hover {background-color: black;
	       color: white;
           }

.list-horizontal {list-style: none;
	                
	                 padding: 15px;

                   
}

.list-horizontal li {display: inline;
padding: 15px;}

.list-horizontal i {font-size: 50px;
                    color: #EADDC5;}
.list-horizontal i:hover {font-size: 50px;
                    color: black;}
.introduction {margin-top: 40px;}